In [ ]:
Introduction to Python Programming

In [ ]:
Understanding the variables in python

In [12]:
a = 2
b = 3

In [13]:
c = a + b

In [15]:
print(c)

5

In [ ]:
Variables are nothing but the position holding that we are assigning

In [ ]:
Rules for declaring the variables in python

In [ ]:
3 rules to be learn

In [ ]:
Rule 1 - No namespace while declaring the variables

In [16]:
first name = "Vachana"

print(first name)

SyntaxError: invalid syntax (4019101446.py, line 1)

In [17]:
firstname = "Vachana"

print(firstname)

Vachana

In [18]:
first_name = "vachana"

print(first_name)

vachana

In [ ]:
Rule 2 - A variable name should not start with a number

In [19]:
1name = "anand"

print(1name)

SyntaxError: invalid decimal literal (4237552003.py, line 1)

In [20]:
name1 = "anand"

print(name1)

anand

In [ ]:
Rule 3 = A variable name should not contain any space characters.

In [ ]:
# $ % & *  All these are special charaters avoid it

In [ ]:
name@ = "Vachana"

In [21]:
print(name@)

SyntaxError: invalid syntax (3535163447.py, line 1)

In [ ]:
Introduction to data types in python

In [ ]:
1 String-----str

In [ ]:
2 numbers ----- interger --int
          ----- float --  (decimales)

In [ ]:
3 list

In [ ]:
4 tuples

In [ ]:
5 Dictionaries --dict

In [ ]:
Note:- Python programming is a case senstive programming language.

In [ ]:
Classification of datatypes

In [ ]:
Broadly datatypes are classify into two categories

In [ ]:
1 mutable datatype -----> which we able to edit /alter (flexible in nature)

In [ ]:
2 immutable datatype ----> which we will not able to edit/alter (fixed in nature)

In [ ]:
Introduction to string datatype

In [ ]:
Definition -- A string is nothing but a series of characters declared in quotes.

In [ ]:
Classification -- It is classified as an immutable datatype

In [ ]:
How do you define the string datatype?

In [ ]:
1 Single quote

In [ ]:
2 double quote

In [22]:
name = 'akash'  # single quote

print(name)

akash

In [23]:
name1 = "Hajera"   # double quote

print(name1)

Hajera

In [ ]:
Introduction to string methods

In [ ]:
Methods are buildin function

In [24]:
type(name)

str

In [25]:
type(name1)

str

In [ ]:
when ever executing assigning the number

In [ ]:
# Shift+Enter---To run the program

In [ ]:
# is used for commenting th code

In [29]:
fullname = "kiran reddy"

print(fullname)

kiran reddy

In [30]:
print(fullname.title())  # First letter change to capital

Kiran Reddy

In [ ]:
# i want to get the entire name in the capital letters

In [31]:
print(fullname.upper())

KIRAN REDDY

In [ ]:
# i want to get the name in the small case letters

In [32]:
print(fullname.lower())

kiran reddy