In [ ]:
Organizing the list datatype

In [1]:
cars = ['kia','audi','maruthi','hyundai','volkswagen','bens','suzuki','bmw']

print(cars)

['kia', 'audi', 'maruthi', 'hyundai', 'volkswagen', 'bens', 'suzuki', 'bmw']

In [ ]:
req-- i want to organise the list in the alphabetical order

In [ ]:
A-Z (order i want to maintain......!)

In [ ]:
two combinations
1. temporary approach----->sorted---->we will be getting the orginal order.
2. permanent approach ---->sort---->changes are applied permanently.

In [2]:
print(sorted(cars))   #temporary approach

['audi', 'bens', 'bmw', 'hyundai', 'kia', 'maruthi', 'suzuki', 'volkswagen']

In [3]:
cars.sort()     #permanent approach

print(cars)

['audi', 'bens', 'bmw', 'hyundai', 'kia', 'maruthi', 'suzuki', 'volkswagen']

In [ ]:
# i want to know how many cars are there in the list

In [4]:
len(cars)

8

In [ ]:
# I want to get the Opposite order of the given list like Z-A

In [6]:
cars.reverse()

print(cars)

['volkswagen', 'suzuki', 'maruthi', 'kia', 'hyundai', 'bmw', 'bens', 'audi']

In [ ]:
Introduction to slicing

In [ ]:
# general syntax of slicing:-

[start_value : Stop_value : Step_count]

In [9]:
students = ['divya', 'harika','naveen','hafsa','karthik','vicky']

print(students)

['divya', 'harika', 'naveen', 'hafsa', 'karthik', 'vicky']

In [ ]:
Note: Last value is always exclusive, to include the last value we have to increament the index by +1

In [ ]:
# req--- I want to get divya and harika in the slice?

In [10]:
print(students[0:1])  # for first element

['divya']

In [11]:
print (students[0:2])  # for first two elements

['divya', 'harika']

In [12]:
print(students[2:4])  # for 2nd and 3rd index value

['naveen', 'hafsa']

In [ ]:
# for every 2nd person of the list

In [13]:
print(students[0:6:2])  #for every 2nd element

['divya', 'naveen', 'karthik']

In [14]:
print(students[0:6:1])  #whole list

['divya', 'harika', 'naveen', 'hafsa', 'karthik', 'vicky']

In [15]:
print(students[0:6:3])  #for every 3rd element

['divya', 'hafsa']

In [16]:
print(students[1:3:5])

['harika']

In [17]:
print(students[1:6:2])  # for every 2nd element

['harika', 'hafsa', 'vicky']

In [ ]:
Introduction to the tuple datatype

In [ ]:
definition - An immutable kist is called as a tuple datatype

In [ ]:
classification - it is a classified as a immutable datatype

In [ ]:
how do you define the tuple datatype-----> by using the()

In [18]:
area_size = (27,40)

print(area_size)

(27, 40)

In [19]:
type(area_size)

tuple

In [20]:
area_size(0) = 28

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2760827235.py, line 1)

As tuple are immutable in nature they can't change, alter, edit the